<footer role="contentinfo">
  <div class="container">
    <div class="signature">
      <p class="text-muted credit">Un site <a href="http://www.toog.fr">Toog</a> &copy; 2013 | Composé sous <a href="http://middlemanapp.com/">Middleman</a></p>
    </div>
  </div>
</footer>
