<h4>Sources et références</h4>
<ul>
<% if (current_page.data.sources) %>
  <% current_page.data.sources.each do |source| %>
    <li>(<%= source.lang %>) <a href="<%= source.href %>"><%= source.label %></a></li>
  <% end %>
<% else %>
  <li>C'est peut-être le moment d'en ajouter :)</li>
<% end %>
</ul>